<div class='row'>
  <div class='col-md-10'>
    <nb-card>
      <nb-card-header>代理下载:</nb-card-header>
      <nb-card-body>
        <form class='form-inline'>
          <div class='form-group row col-sm-12'>
            <label for='downloadUrlInput' class='label col-sm-1 col-form-label'>下载地址:</label>
            <div class='col-sm-10'>
              <textarea rows="4" [(ngModel)]='this.downloadUrl' (ngModelChange)="autoFileSaveName()" id='downloadUrlInput' name='downloadUrlInput' type='text' nbInput status='primary' fullWidth fieldSize='medium' placeholder='请输入下载地址.....' >
              </textarea>
            </div>
          </div>
          <div class='form-group row col-sm-12' >
            <label for='fileSaveName' class='label col-sm-1 col-form-label'>文件名:</label>
            <div class='col-sm-10'>
              <input [(ngModel)]='this.fileSaveName' id='fileSaveName'  name='fileSaveName' type='text' nbInput status='primary' fullWidth fieldSize='medium' placeholder='保存文件名.....' >
            </div>
          </div>
          <div class='form-group row col-sm-12' >
            <label for='newDownloadUrlInput' class='label col-sm-1 col-form-label'>新地址:</label>
            <div class='col-sm-10'>
              <input [(ngModel)]='this.newDownloadUrl' (ngModelChange)="updateButtons()" #newDownloadUrlInput  id='newDownloadUrlInput' name='newDownloadUrlInput' readonly type='text' nbInput status='primary' fullWidth fieldSize='medium' >
            </div>
          </div>
          <div class='form-group row col-sm-12'>
            <div class='offset-sm-1 col-sm-1'>
              <button type='submit' [disabled]="disableSubmit" nbButton (click)='submitToProxyDownload()' status='primary'>下载到代理</button>
            </div>
            <div class='offset-sm-1 col-sm-1'>
              <button nbButton [ngxClipboard]="newDownloadUrlInput" [disabled]="disableCopy" status='primary'>复制地址</button>
            </div>
            <div class='col-sm-1'>
              <button nbButton [disabled]="disableThunder" (click)='localDownload()'  status='primary'>本地下载</button>
            </div>
            <div class='col-sm-1'>
              <button nbButton [disabled]="disableThunder" (click)='openThunder()' status='primary'>迅雷下载</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
